[submodule "pack/plugins/start/vim-sandwich"]
	path = pack/plugins/start/vim-sandwich
	url = git@github.com:machakann/vim-sandwich.git
	ignore = dirty
[submodule "pack/plugins/start/vim-subversive"]
	path = pack/plugins/start/vim-subversive
	url = git@github.com:svermeulen/vim-subversive.git
	ignore = dirty
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
	ignore = dirty
[submodule "pack/plugins/start/vim-xkbswitch"]
	path = pack/plugins/start/vim-xkbswitch
	url = git@github.com:lyokha/vim-xkbswitch.git
	ignore = dirty
[submodule "pack/plugins/opt/Tortoise-Typing"]
	path = pack/plugins/opt/Tortoise-Typing
	url = git@github.com:thanthese/Tortoise-Typing.git
	ignore = dirty
[submodule "pack/plugins/opt/vim-startuptime"]
	path = pack/plugins/opt/vim-startuptime
	url = git@github.com:dstein64/vim-startuptime.git
	ignore = dirty
[submodule "pack/plugins/start/vim-cutlass"]
	path = pack/plugins/start/vim-cutlass
	url = git@github.com:svermeulen/vim-cutlass.git
	ignore = dirty
[submodule "pack/plugins/start/vim-visual-multi"]
	path = pack/plugins/start/vim-visual-multi
	url = git@github.com:mg979/vim-visual-multi.git
	ignore = dirty
[submodule "pack/plugins/start/vim-scriptease"]
	path = pack/plugins/start/vim-scriptease
	url = git@github.com:tpope/vim-scriptease.git
	ignore = dirty
[submodule "pack/plugins/start/quickfix-reflector.vim"]
	path = pack/plugins/start/quickfix-reflector.vim
	url = git@github.com:stefandtw/quickfix-reflector.vim.git
	ignore = dirty
[submodule "pack/plugins/start/asyncrun.vim"]
	path = pack/plugins/start/asyncrun.vim
	url = git@github.com:skywind3000/asyncrun.vim.git
	ignore = dirty
[submodule "pack/plugins/start/vim-move"]
	path = pack/plugins/start/vim-move
	url = git@github.com:matze/vim-move.git
	ignore = dirty
[submodule "pack/plugins/start/vim-cool"]
	path = pack/plugins/start/vim-cool
	url = git@github.com:romainl/vim-cool.git
	ignore = dirty
[submodule "pack/plugins/start/vim-visual-star-search"]
	path = pack/plugins/start/vim-visual-star-search
	url = git@github.com:bronson/vim-visual-star-search.git
	ignore = dirty
[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
	ignore = dirty
[submodule "pack/plugins/start/open-browser.vim"]
	path = pack/plugins/start/open-browser.vim
	url = git@github.com:tyru/open-browser.vim.git
	ignore = dirty
[submodule "pack/plugins/start/open-browser-github.vim"]
	path = pack/plugins/start/open-browser-github.vim
	url = git@github.com:tyru/open-browser-github.vim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
	ignore = dirty
[submodule "pack/plugins/start/bufferline.nvim"]
	path = pack/plugins/start/bufferline.nvim
	url = git@github.com:akinsho/bufferline.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-autopairs"]
	path = pack/plugins/start/nvim-autopairs
	url = git@github.com:windwp/nvim-autopairs.git
	ignore = dirty
[submodule "pack/plugins/start/kommentary"]
	path = pack/plugins/start/kommentary
	url = git@github.com:b3nj5m1n/kommentary.git
	ignore = dirty
[submodule "pack/plugins/start/gitsigns.nvim"]
	path = pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-tree.lua"]
	path = pack/plugins/start/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua.git
	ignore = dirty
[submodule "pack/plugins/start/neogit"]
	path = pack/plugins/start/neogit
	url = git@github.com:TimUntersberger/neogit.git
	ignore = dirty
[submodule "pack/plugins/start/LuaSnip"]
	path = pack/plugins/start/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
	ignore = dirty
[submodule "pack/plugins/start/lsp-status.nvim"]
	path = pack/plugins/start/lsp-status.nvim
	url = git@github.com:nvim-lua/lsp-status.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-dap-virtual-text"]
	path = pack/plugins/start/nvim-dap-virtual-text
	url = git@github.com:theHamsta/nvim-dap-virtual-text.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-dap"]
	path = pack/plugins/start/nvim-dap
	url = git@github.com:mfussenegger/nvim-dap.git
	ignore = dirty
[submodule "pack/plugins/start/telescope-dap.nvim"]
	path = pack/plugins/start/telescope-dap.nvim
	url = git@github.com:nvim-telescope/telescope-dap.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/neovim-cmake"]
	path = pack/plugins/start/neovim-cmake
	url = git@github.com:Shatur/neovim-cmake.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
	ignore = dirty
[submodule "pack/plugins/start/hop.nvim"]
	path = pack/plugins/start/hop.nvim
	url = git@github.com:phaazon/hop.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/formatter.nvim"]
	path = pack/plugins/start/formatter.nvim
	url = git@github.com:mhartington/formatter.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-colorizer.lua"]
	path = pack/plugins/start/nvim-colorizer.lua
	url = git@github.com:norcalli/nvim-colorizer.lua.git
	ignore = dirty
[submodule "pack/plugins/start/asynctasks.vim"]
	path = pack/plugins/start/asynctasks.vim
	url = git@github.com:skywind3000/asynctasks.vim.git
	ignore = dirty
[submodule "pack/plugins/start/telescope-asynctasks.nvim"]
	path = pack/plugins/start/telescope-asynctasks.nvim
	url = git@github.com:GustavoKatel/telescope-asynctasks.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/neovim-session-manager"]
	path = pack/plugins/start/neovim-session-manager
	url = git@github.com:Shatur/neovim-session-manager.git
	ignore = dirty
[submodule "pack/plugins/opt/playground"]
	path = pack/plugins/opt/playground
	url = git@github.com:nvim-treesitter/playground.git
	ignore = dirty
[submodule "pack/plugins/start/octo.nvim"]
	path = pack/plugins/start/octo.nvim
	url = git@github.com:pwntester/octo.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/diffview.nvim"]
	path = pack/plugins/start/diffview.nvim
	url = git@github.com:sindrets/diffview.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/neovim-ayu"]
	path = pack/plugins/start/neovim-ayu
	url = git@github.com:Shatur/neovim-ayu.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-lastplace"]
	path = pack/plugins/start/nvim-lastplace
	url = git@github.com:ethanholz/nvim-lastplace.git
	ignore = dirty
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = git@github.com:shadmansaleh/lualine.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-luaref"]
	path = pack/plugins/start/nvim-luaref
	url = git@github.com:milisims/nvim-luaref.git
	ignore = dirty
[submodule "pack/plugins/start/vim-sleuth"]
	path = pack/plugins/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
	ignore = dirty
[submodule "pack/plugins/start/lsp_signature.nvim"]
	path = pack/plugins/start/lsp_signature.nvim
	url = git@github.com:ray-x/lsp_signature.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/gitlinker.nvim"]
	path = pack/plugins/start/gitlinker.nvim
	url = https://github.com/ruifm/gitlinker.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-ts-rainbow"]
	path = pack/plugins/start/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-treesitter-textobjects"]
	path = pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
	ignore = dirty
[submodule "pack/plugins/start/stickybuf.nvim"]
	path = pack/plugins/start/stickybuf.nvim
	url = https://github.com/stevearc/stickybuf.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = dirty
[submodule "pack/plugins/start/toggleterm.nvim"]
	path = pack/plugins/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim.git
	ignore = dirty
[submodule "pack/plugins/start/luv-vimdocs"]
	path = pack/plugins/start/luv-vimdocs
	url = https://github.com/nanotee/luv-vimdocs.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-notify"]
	path = pack/plugins/start/nvim-notify
	url = git@github.com:rcarriga/nvim-notify.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
	ignore = dirty
[submodule "pack/plugins/start/cmp-buffer"]
	path = pack/plugins/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
	ignore = dirty
[submodule "pack/plugins/start/cmp_luasnip"]
	path = pack/plugins/start/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
	ignore = dirty
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
	ignore = dirty
